<!-- products_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
    <h1>Products for {{ category.name }}</h1>
    <ul>
        {% for product in products %}
        <li>
            {{ product.name }} - {{ product.description }}
            <!-- 添加超链接到价格图表页面 -->
            <a href="{% url 'shopping:product_price_chart' product_id=product.product_id %}">View Price Chart</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
